@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700;900&display=swap");

#title1, #title2{
    text-align: center;
    color: #4A6487;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
#title2{
    font-size: 20px;
}

body {
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    /* text-overflow: ellipsis; */
    background: #d2ddf1;
    margin: 0;
}

body::-webkit-scrollbar-track {
    background-color: #d2ddf1;
  }
  
  body::-webkit-scrollbar {
    width: 7px;
    background-color: #d2ddf1;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #4A6487;
  }

#lobby{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.loader {
    display: block;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid #7388A7;
    border-radius: 50%;
    border-top: 8px solid #4A6487;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
    margin-top: 30px;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}